.animation {
  &--left {
    animation: nav-left 3s;
  }

  &--right {
    animation: nav-right 3s;
  }
}

@keyframes logo {
  from {
    top: 700px;
    transform: rotate(360deg);
    //margin-right: 100%;
    //width: 300%;
  }
}

@keyframes nav-right {
  from {
    margin-right: 100%;
    width: 300%;
  }
}

@keyframes nav-left {
  from {
    margin-left: 100%;
    width: 300%;
  }
}

@keyframes text-shadow {
  from {
    margin-left: 100%;
    width: 300%;
  }
  50% {
    text-shadow: 20px 0 4px rgba(@yellow, 1);
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes left {
  from {
    margin-right: 40%;
  }
  50% {
    margin-right: -7%;
  }
  to {
    width: 100%;
  }
}

@keyframes btn-left {
  from {
    margin-top: 40%;
    background-color: @yellow;
    box-shadow: 0 0 10px rgba(@yellow, .8);
    margin-right: 40%;
  }
}

@keyframes btn-right {
  from {
    margin-top: 40%;
    background-color: @yellow;
    box-shadow: 0 0 10px rgba(@yellow, .8);
  }
}

@keyframes opacity {
  from {
    opacity: 0.1;
  }
}
